.categories-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em 2em;
}

.category {
    display: grid;
    grid-template-columns: 1fr;
    min-width: 200px;
    min-height: 100px;
    padding: 1em;
    background-color: #dee2e1;
    color: #222;
    transition: 0.01s;
    box-sizing: border-box;
    border: 1px solid transparent;
}


.category:hover {
    border: 1px solid rgba(34, 34, 34, 0.7);
    background-color: #ececec;
}

.category:nth-child(4n),
.category:nth-child(4n - 3) {
    background-color: #dfd5bd;
}

.category:nth-child(4n):hover,
.category:nth-child(4n - 3):hover {
    border: 1px solid rgba(34, 34, 34, 0.7);
    background-color: #e6dfcf;
}

.category > span {
    opacity: 0.8;
}

.category-title {
    font-size: 1.5em;
    font-weight: 500;
}

.category:focus {
    transform: perspective(200px) translate3d(0, 0, 10px);
}

.joke-placeholder {
    opacity: 0.4;
}

@media (max-width: 900px) {
    .categories-wrapper {
        grid-template-columns: 1fr 1fr;
        padding: 2em 2em;
    }

}

@media (max-width: 600px) {
    .categories-wrapper {
        grid-template-columns: 1fr;
        padding: 2em 2em;
    }
    
}

@media (min-width: 2000px) {
    .categories-wrapper {
        max-width: 70vw;
        font-size: 2vh;
    }
    
    .category {
        min-height: 10vh;
    }
}