.categories-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em 2em;
}

.category {
    display: grid;
    grid-template-columns: 1fr;
    min-width: 200px;
    min-height: 100px;
    padding: 1em;
    background-color: #518993;
    color: #fff;
    border-radius: 1em;
    transition: 0.01s;
}

.category:nth-child(odd) {
    opacity: 0.8;
}

.category > span {
    opacity: 0.8;
}

.category-title {
    font-size: 1.5em;
    font-weight: 500;
}

.category:active {
    transform: perspective(200px) translate3d(0, 0, 10px);
}

.joke-placeholder {
    opacity: 0.4;
}

@media (max-width: 900px) {
    .categories-wrapper {
        grid-template-columns: 1fr 1fr;
        padding: 2em 2em;
    }

}

@media (max-width: 600px) {
    .categories-wrapper {
        grid-template-columns: 1fr;
        padding: 2em 2em;
    }
    
}

@media (min-width: 2000px) {
    .categories-wrapper {
        max-width: 70vw;
        font-size: 2vh;
    }
    
    .category {
        min-height: 10vh;
    }
}