.container-wrapper {
    display: block;
    grid-template-columns: 1fr;
    max-width: 1200px;
    min-width: 250px;
    margin: 0 auto;
    grid-gap: 1em;
    padding: 2em;
}

.container-wrapper.random {
    min-height: 200px
}

.jokes-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    /* padding: 2em 0; */
}

.title {
    grid-column: 1/3;
}


@media (max-width: 900px) {
    .jokes-wrapper {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 600px) {
    .jokes-wrapper {
        grid-template-columns: 1fr;
    }
    
}