ul {
  list-style-type: none;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #fff;
  overflow-x: hidden;
}

.App-header {
  padding: 1em;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

.container-padding {
  margin-top: 1em
}

.title {
  font-size: 1.5em;
  font-weight: 500;
}